$color-primary: #c69963;
$color-primary-dark: #54483a;
$color-secondary: #101d2c;
$color-grey: #aaa;
$color-grey-light: #f7f7f7;
$color-grey-dark: #5d5d5d;

$font-primary: "Josefin Sans", sans-serif;
$font-secondary: "Nunito", sans-serif;
