@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1rem;

  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
  }

  &__heading {
    align-self: center;
  }

  &__description {
    grid-column: 2;
  }

  @include xs-2 {
    gap: 0.5rem;

    &__icon {
      width: 4rem;
      height: 4rem;
    }
  }

  @include xs-3 {
    &__icon {
      width: 3.5rem;
      height: 3.5rem;
    }
  }

  @include xs-4 {
    &__icon {
      width: 3rem;
      height: 3rem;
    }
  }

  @include md {
    gap: 0.5rem;

    &__icon {
      width: 4rem;
      height: 4rem;
    }
  }

  @include lg {
    &__icon {
      width: 3.5rem;
      height: 3.5rem;
    }
  }
}
