@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.house {
  background: $color-grey-light;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__img {
    grid-column: 1 / -1;
    grid-row: 1 / span 2;
  }

  &__icon--like {
    grid-column: 2 / -1;
    grid-row: 1 / span 1;
    justify-self: end;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }

  &__heading {
    grid-column: 1 / -1;
    background: $color-secondary;
    width: 90%;
    justify-self: center;
    transform: translateY(-50%);
    text-align: center;
    padding: 1.4rem 0;
    font-weight: 400;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: $color-primary;
  }

  &__location,
  &__rooms,
  &__area,
  &__price {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
  }

  &__text {
    font-size: 1.6rem;
  }

  &__btn {
    grid-column: 1 / -1;
  }

  @include xs-3 {
    &__location,
    &__rooms,
    &__area,
    &__price {
      margin-left: 0;
      gap: 0.5rem;
    }
  }

  @include xs-4 {
    &__text {
      font-size: 1.4rem;
    }
  }
}
