@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.container {
  width: min(100%, 1200px);
  margin-left: auto;
  margin-right: auto;
}

@include lg {
  .container {
    display: grid;
    grid-template-columns: 7rem 1fr;

    & > * {
      grid-column: 2 / -1;
    }

    .sidebar {
      grid-column: 1;
      grid-row: 1 / span 8;
    }
  }
}
